// @import "variables.scss";

#assets-modal, #video-banner-modal {
	z-index: 9999;

	background-size: cover;
	background-position: center;

	.modal-dialog {
		width: auto;
		margin: 50px auto;
		max-width: 1020px;
	}
	
	.modal-header {
		border-bottom: none;
		padding: 20px 30px;
	}
	
	.modal-body { 
		
		.nav-tabs {
			
			>li {
			
				>a {
					border: none;
					border-bottom: 3px solid transparent;
					padding: 10px 20px;
					font-weight: bold;
					border-radius: 2px;
					color: $grey-100;

					&.active, &:hover {
						border-color: $primary-medium;
						color: $primary-medium;
					}
				}
				
			}
		}
		
		.tab-content {
			
			>.tab-pane {
				padding: 15px 0;

				.filter-container {
					:nth-child(2) {
						margin-right: 10px;
						max-width: 150px;
					}
				}

				.date-filter {
					border: 1px solid $grey-60;
					background: $white;
					color: $grey-100;
					line-height: 1;
				}

				#filterByDateBtn {
					line-height: 1;
				    min-width: 100px;
				}
				
			}
		}

		.select2-container {

			.select2-selection--multiple {
				height: 40px!important;

				.select2-selection__rendered {
					padding: 0 12px;
				}
				
				input {
					height: 38px;
					margin-top: 0;
				}

				.select2-selection__choice {
					background: $grey-20;
					margin-top: 6px;
					border-color: $grey-20;
				}

				.select2-results__option {
					background: $grey-10;
					margin-top: 6px;

					&.select2-results__option--highlighted[aria-selected] {
						background: $secondary-medium;
					}
				}
			}

			&.select2-container--focus {
				.select2-selection--multiple {
					border-color: $secondary-medium;
				}
			}

		}

		#file-upload {
			
			.dropzone {
			    display: flex;
    			align-items: center;
    			justify-content: center;
				height: 300px;
				background: $grey-5;
				border: 2px dashed $grey-20;
				border-radius: 4px;
				cursor: pointer;
				font-weight: 700;
				font-size: 20px;
				color: $secondary-medium;
			}
		}
		
		#file-library {
			
			.files {
				max-height: 500px;
				overflow: auto;
				display: flex;
			    flex-flow: row wrap;
			    justify-content: space-between;

			    &:after {
				  	content: "";
				  	flex: auto;
				}

				.file {
					position: relative;
					cursor: pointer;
					display: inline-block;
					width: 120px;
					height: 120px;
					border: 3px solid transparent;
					margin-right: 4px;
    				margin-bottom: 25px;
					background-color: #eee;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					
					&:empty {
						height: 0;
					}

					&.active {
						border-color: $primary-medium;
					}
					
					.progress {
						overflow: initial;
						height: 4px;
						background-color: $white;
						border-radius: 0px;
						margin: 0;
					}
					
					.name {
					    position: absolute;
					    bottom: -22px;
    					height: 25px;
					    text-overflow: ellipsis;
					    max-width: 120px;
					    overflow-x: hidden;
					    overflow-y: hidden;
					    white-space: nowrap;
					    left: -3px;
					    padding: 5px;
    					font-size: 12px;
					    -webkit-transition: all .25s ease;
					            transition: all .25s ease;

					    &:hover {
    						max-width: 200%;
    						background-color: #fff;
					    	z-index: 10000;
    						-webkit-box-shadow: #333 0px 2px 5px 0px;
    						        box-shadow: #333 0px 2px 5px 0px;
					    }
					}
				}
			}

			.load-more {
				margin-top: 20px;
				
			}
		}
		
		.loader {
			height: 240px;
			position: relative;
		}
		
		.asset-details {
			
			.header {
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 16px;
			}
			
			.photo {
				background: $grey-10;
				text-align: center;
				
				img {
					max-width: 100%;
					max-height: 250px;
					margin: 0 auto;
				}
				
			}

			.delete {
				margin: 10px auto;
			}

			small {
				color: $grey-40;
			}
			
			form {
				border: none;
				padding: 0;
				margin-bottom: 20px;
			}

		}
	}

	/** for asset tags **/
	.sumo-tag {
		display: inline-block;
		margin-right: 10px;
		padding: 5px;
		cursor: pointer;
		border: 1px solid $grey-20;
		border-radius: 5px;
		&.active {
			background: $primary-medium;
			border-color: $primary-medium;
			color: $white;
		}
	}

	.caboodle-form-group {
		margin-bottom: 10px;
		label {
			min-width: 70px;
		}
	}
}